[flake8]
max-line-length = 210
exclude =
    .git,
    __pycache__,
    __archive__,
    3Dsx,
    build,
    dist
    help
per-file-ignores =
    aux_functions.py:E501
    table_model_view.py:E221, E251